node_modules
.next
.next/cache
.git
.gitignore
Dockerfile
.env*
!\.env.example
dist
build
*.log
.vscode
.idea
.DS_Store
data
coverage
playwright-report
reports
**/*.test.*
**/*.spec.*
**/__tests__
**/__mocks__
bun.lockb
